//- Globally expose mixins without output, needed for prototypes
include ../../../core/templates/mixins/icon
include ../../../core/templates/mixins/render-page-tree
include ../../../core/templates/mixins/sample
include ../../../core/templates/mixins/styleguide-settings
include ../../../core/templates/mixins/languages
include ../../../core/templates/mixins/components

block pageVariables
    //- Use this block to append page variables in templates
    - var projectTitle = "Tag Design System"
    - var htmlClass = ""
    - var bodyClass = ""

doctype html
html(dir="ltr" lang="en" class=htmlClass ? htmlClass : '')
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="robots", content="noindex")

        title
            if moduleTitle
                | #{moduleTitle} - #{projectTitle}
            else
                | #{projectTitle}

        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Noto+Sans:400,700')
        link(rel='stylesheet', href='/css/output.css')
        link(rel='stylesheet', href='/css/icons.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/prototype.css')
        link(rel='stylesheet', href='/css/styleguide.css')
          
        style.
          @font-face {
          font-family: 'Nucleo';
          src: url('/fonts/Nucleo.eot'); /* IE9 Compat Modes */
          src: url('/fonts/Nucleo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/fonts/Nucleo.woff') format('woff'), /* Pretty Modern Browsers */
          url('/fonts/Nucleo.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('/fonts/Nucleo.svg#Nucleo') format('svg'); /* Legacy iOS */
          }

    body.font-body(class=bodyClass ? bodyClass : '')
        .title-bar.bg-grey-dark.p-2.flex.flex-start.items-center.font-bold
          img.m-2(src="/images/financeit-logo.svg", alt="alt")
          title.text-white.block.font-headline.m2.text-sm #{projectTitle}
          
        block body

        include ../../../core/templates/includes/prototype-nav

        = "\n"
        script(src='/js/bundle.js')
